*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(255, 10, 10, 0.63);
}

h1{
    font-family: 'Press Start 2P', cursive;
    color: rgb(253, 246, 147);
}

.divHeader {
    width: 100%;
}


.divHeader .header {
    background-color: rgba(46, 49, 248, 0.849);
    color: white
}

.styleContainer{
    position: relative;
    margin-top: 150px;
    margin-bottom: 50px;
}

.footer{
    background-color: rgba(46, 49, 248, 0.849);
    color: white;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}